{{!--
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>--}}

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="http://static.boredpanda.com/blog/wp-content/uploads/2016/03/hairy-fluffy-cat-sky-the-ragdoll-31.jpg" alt="..."
                class="img-responsive">
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eaque rerum magni quasi harum minus. Veniam
                    cupiditate facere laborum non ad atque, aperiam iure vero illo possimus, doloribus molestias aut.</p>
                <div class="clearfix">
                    <div class="price pull-left">$12</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Button</a>
                    </div>
        </div>
    </div>
     <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="http://static.boredpanda.com/blog/wp-content/uploads/2016/03/hairy-fluffy-cat-sky-the-ragdoll-31.jpg" alt="..."
                class="img-responsive">
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eaque rerum magni quasi harum minus. Veniam
                    cupiditate facere laborum non ad atque, aperiam iure vero illo possimus, doloribus molestias aut.</p>
                <div class="clearfix">
                    <div class="price pull-left">$12</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Button</a>
                    </div>
        </div>
    </div>
     <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="http://static.boredpanda.com/blog/wp-content/uploads/2016/03/hairy-fluffy-cat-sky-the-ragdoll-31.jpg" alt="..."
                class="img-responsive">
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eaque rerum magni quasi harum minus. Veniam
                    cupiditate facere laborum non ad atque, aperiam iure vero illo possimus, doloribus molestias aut.</p>
                <div class="clearfix">
                    <div class="price pull-left">$12</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Button</a>
                    </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="http://static.boredpanda.com/blog/wp-content/uploads/2016/03/hairy-fluffy-cat-sky-the-ragdoll-31.jpg" alt="..."
                class="img-responsive">
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eaque rerum magni quasi harum minus. Veniam
                    cupiditate facere laborum non ad atque, aperiam iure vero illo possimus, doloribus molestias aut.</p>
                <div class="clearfix">
                    <div class="price pull-left">$12</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Button</a>
                    </div>
        </div>
    </div>
     <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="http://static.boredpanda.com/blog/wp-content/uploads/2016/03/hairy-fluffy-cat-sky-the-ragdoll-31.jpg" alt="..."
                class="img-responsive">
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eaque rerum magni quasi harum minus. Veniam
                    cupiditate facere laborum non ad atque, aperiam iure vero illo possimus, doloribus molestias aut.</p>
                <div class="clearfix">
                    <div class="price pull-left">$12</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Button</a>
                    </div>
        </div>
    </div>
     <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="http://static.boredpanda.com/blog/wp-content/uploads/2016/03/hairy-fluffy-cat-sky-the-ragdoll-31.jpg" alt="..."
                class="img-responsive">
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eaque rerum magni quasi harum minus. Veniam
                    cupiditate facere laborum non ad atque, aperiam iure vero illo possimus, doloribus molestias aut.</p>
                <div class="clearfix">
                    <div class="price pull-left">$12</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Button</a>
                    </div>
        </div>
    </div>
</div>
